<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" href="{{ PROOT }}media/puubu.favicon.png" type="image/x-icon" />
    <link rel="stylesheet" href="{{ PROOT }}dist/css/libs.bundle.css" />
    <link rel="stylesheet" href="{{ PROOT }}dist/css/index.bundle.css" />
    <link rel="stylesheet" href="{{ PROOT }}dist/css/puubu.css" />
    <title>{% block title %}Puubu{% endblock %}</title>
</head>
<body>
    {% block content %}{% endblock %}

    <!-- javascript -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script type="text/javascript" src="{{ PROOT }}dist/js/vendor.bundle.js"></script>
    <script type="text/javascript" src="{{ PROOT }}dist/js/index.bundle.js"></script>
    {% block scripts %}{% endblock %}
</body>
</html>
